// Specific CSS for your home-page
.container {
  text-align: center;
  padding: 40px;
}

.articles-list {
  padding-top: 40px;
}

.articles-list h2 {
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

.articles-list p {
  font-size: 14px;
  margin-bottom: 40px;
}
