<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <h1>GOT Quotes</h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Add a quote", "#", class: "nav-link" %>
      </li>
     
    </ul>
  </div>
</div>


<div class="articles-list">
  <div class="container">
    <% @articles.each do |article| %>
      <h2><%= article.title %></h2>
      <p>"<%= article.content %>"</p>
    <% end %>
  </div>
</div>
